<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote add page</title>
</head>
<body>
<h2>Add New Quote</h2>
<form method="POST">
    {% csrf_token %}
    <label>Author:</label>
    <select name="author_id">
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
    </select><br>
    <label>Quote:</label>
    <textarea name="text"></textarea><br>
    <label>Tags:</label>
    <input type="text" name="tags"><br>
    <button type="submit">Add Quote</button>
</form>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>